# ===== Python / Conda =====
# Ignore local virtual environments
venv/
.env/
.venv/
env/

# Ignore Conda environments (usually in the user folder)
*/anaconda3/envs/
anaconda3/
miniconda3/

# ===== Python cache and compiled files =====
__pycache__/
*.py[cod]
*$py.class

# ===== IDE / Editor =====
.idea/
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db
